# Heavily inspired by: https://github.com/filipdutescu/modern-cpp-template

Checks: "*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm-*,-llvmlibc-*"
CheckOptions:
  [
    {
      key: misc-non-private-member-variables-in-classes,
      value: IgnoreClassesWithAllMemberVariablesBeingPublic
    }
  ]
WarningsAsErrors: "*"
HeaderFilterRegex: ""
FormatStyle: none
